*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%box_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%nav_text{
    color: #fff;
    font-size: 15px;
    line-height: 150%;
}

header{
    width: 100%;
    height: 900px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
}

nav img{
    width: 124px;
    height: 36px;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a{
    text-decoration: none;
    @extend %nav_text
}

nav button{
    width: 163px;
    height: 40px;
    border-radius: 5px;
    background: #C9453B;
    border: none;  
    @extend %nav_text
}

header h1{
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    line-height: 120%; 
    width: 804px;
    height: 154px;
    margin-top: 212px;
    text-align: left;
    margin-left: 120px;
}

header p{
    width: 458px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    margin: 50px 0px 0px 120px;
}

.button{
    width: 163px;
    height: 40px;
    border-radius: 5px;
    background: #C9453B;
    border: none;  
    @extend %nav_text;
    margin: 58px 0px 0px 120px;
}

.content{
    width: 100%;
    height: 2700px;
    border: 2px solid;
    flex-direction: column;
    @extend %box_center;
}

.content h1{
    color: #000;
    font-size: 43px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 140px;
    margin-bottom: 20px;
}

.content p{
    width: 735px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; 
    opacity: 0.6;
}

.m_box{
    width: 360px;
    height: 500px;
    @extend %box_center;
    flex-direction: column;
}

.m_boxs{
    margin-top: 50px;
    width: 1142px;
    @extend %box_center;
    gap: 31px;
}

.m_boxs img{
    width: 360px;
    height: 331px;
}

.m_boxs h3{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 35px;
}

.m_boxs span{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 10px;
    opacity: 0.6;
}

.boxs{
    width: 100%;
    display: flex;
    border: 2px solid;
    gap: 0px;
}

.boxs img{
    width: 262px;
    height: 173px;
}

.mini_boxs h3{
    margin-top: 20px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.mini_boxs p{
    text-align: left;
    margin-top: 8px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.mini_boxs p span{
    margin-left: 50px;
}
.mini_boxs p img{
    width: 10.858px;
    height: 15.201px;
}

.mini_boxs h6  span{
    opacity: 0.6;
    margin-top: 8px;
    color: #000;
    font-size: 18px;
}

.mini_boxs h5{
    margin-top: 8px;
    color: #000;
    font-size: 16px;
}
